* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}


header {
    color: white;
    padding: 10px;
    text-align: center;
    background: coral;
    font-weight: 900;
    font-family: sans-serif;
}

.box {
    position: relative;
    width: 200px;
    padding: 10px;
    margin: 40px auto;
    background: rgba(0, 0, 0, 0.11);
}

label {
    display: block;
    padding: 10px;
}

input {
    width: 70px;
    margin-top: -5px;
    position: absolute;
    padding: 5px;
    right: 10px;
}

button {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
}

input[type=color] {
    padding: 1px 2px;
    background: white;
}

#borderPainel {
    border: 3px solid coral;
    padding: 10px;
    margin: 0 auto 50px;
    width: 300px;
    height: 300px;
}

.painel {
    width: 100%;
    height: 100%;
    background: coral;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 36px;
}

